body {
  margin: 0px;
  padding: 0px;
}
.background {
  width: 100%;
  height: 100vh;
  background-image: url(/images/Frame.svg),
    linear-gradient(to right, #020a47, #0e2d67);
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.loginForm {
  background-color: #ffff;
  width: 400px;
  height: 432px;
  border-radius: 0.428rem;
}
input [type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
